<table>
  <tr>
    <th>Studentnummer</th>
    <td>{{verzoek.studentId}}</td>
  </tr>
  <tr>
    <th>Voornaam</th>
    <td>{{verzoek.firstname}}</td>
  </tr>
  <tr>
    <th>Achternaam</th>
    <td>{{verzoek.lastname}}</td>
  </tr>
  <tr>
    <th>E-mailadres</th>
    <td>{{verzoek.email}}</td>
  </tr>
  <tr>
    <th>Vakcode</th>
    <td>{{verzoek.courseId}}</td>
  </tr>
  <tr>
    <th>Vaknaam</th>
    <td>{{verzoek.courseName}}</td>
  </tr>
  <tr>
    <th>Motivatie</th>
    <td>{{verzoek.motivation}}</td>
  </tr>
</table>
